 .table th{
    border: 1px solid #dddddd;
    padding-top: 3px;
    padding-bottom: 3px;
}
.table thead{
    vertical-align: middle;
}
.table tr td{
    font-size: 14px;
}
.table tr:hover td{
    background-color: #f5f5f5;
}
.table td p{
    margin: 0;
    font-weight: 450;
}
.modal .modal-header{
    background-color :#037ec1;
    color: white;
}
.modal-body .form-group{
    text-align: left;
}
.modal-body label{
    font-weight: bolder;
    margin-bottom: 5px;
}
.modal-body .form-group input:focus{
    outline: 0;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.modal-body .upload{
    border-top: 1px solid #037ec1 ;
}
#myInput:focus{
    outline: 0;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
#donHang .table{
    width: 2500px;
    overflow:  scroll;
}