#header .headerLeft p{
    color:#119ace;
    font-size:1.4rem;
    font-weight:bold;
    margin: 0;
    height: 100%;
    padding: 3px 15px;
    border-radius: 25px;
    background: white;
}
#header .headerBottom{
    /* padding: 10px 0 -10px 0; */
    padding-top: 10px;
    border-bottom: 1px #01b4e2 solid;
}
#header .headerBottom .active {
    background: #119ace;
    color: white !important;
}
#header .headerBottom ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
#header .headerBottom ul li a{
    text-decoration: none;
    height: 40px;
    border: 1px #01b4e2 solid;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border-radius: 50px;
    color: black;
    transition: all 0.5s;
}
#header .headerBottom ul li a:hover{
    background: #01b4e2;
    color: white;
}
#header .headerBottom .row .page{
    margin-bottom: 2rem;
}
#header .headerBottom .row .page a{
    height: 40px;
    border: 1px #01b4e2 solid;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border-radius: 50px;
    color: black;
    transition: all 0.5s;
}
#header .headerBottom .row .page a{
    text-decoration: none;
}
#header .headerBottom .row .page a:hover{
    background: #01b4e2;
    color: white;
}