#login{
    width: 100vw;
    height: 100vh;
    background: url("../../isset/img/bg-news.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
#login .loginForm{
    width: 500px;
    background: rgba(255,255,255,0.9);
    min-height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    
}
#login .loginForm h2{
    color: #ff0000;
    
}
#login .loginForm input{
    height: 8vh;
    font-size: 1.3rem;
    color: #555;
    border: 1px #999 solid;
}
#login .loginForm .ant-input-password{
    border: 1px #999 solid;
    padding-top: 0;
    padding-bottom: 0;
}
#login .loginForm .ant-input-password input{
    border: none;
}
#login .loginForm button{
    background: #ff0000;
    height: 9vh;
    width: 100%;
    border-radius: 25px;
    font-size: 1.3em;
    color: white;
    border: none;
}